<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Initial Evaluation</title>
</head>
<body>
    <table border="1" style="border-collapse: collapse; width: 100%;">
        <tr>
            <td><b>Client Name:</b> {{name}}</td>
            <td><b>D.O.B:</b> {{dob}}</td>
            <td><b>Date of Eval:</b> {{date}}</td>
            <td><b>Med Record #:</b> {{med_num}}</td>
        </tr>
    </table>
    <table border="1" style="border-collapse: collapse; width: 100%;">
        <tr>
            <td><b>Diagnosis:</b> {{diagnosis}}</td>
        </tr>
    </table>
    <table border="1" style="border-collapse: collapse; width: 100%;">
        <tr>
            <td><b>Medical Hx:</b> {{med_hx}}</td>
        </tr>
    </table>
    <table border="1" style="border-collapse: collapse; width: 100%;">
        <tr>
            <td><b>Prior Level of Function:</b> {{prior_lev}}</td>
        </tr>
    </table>

    <table border="1" style="border-collapse: collapse; width: 100%;">
        <tr>
            <td><b>Prior Living Situation:</b> {{prior_liv}}</td>
        </tr>
    </table>

    <table border="1" style="border-collapse: collapse; width: 100%;">
        <tr>
            <td style="width: 50%;"><b>Hearing:</b> {{hearing}}</td>
            <td><b>Vision / Visual Perception:</b> {{visual_perception}}</td>
        </tr>

        <tr>
            <td style="width: 50%;"><b>A&O:</b> {{AO}}</td>
            <td><b>Memory / Attention / Cognition:</b> {{memory}}</td>
        </tr>

        <tr>
            <td><b>MMSE Score:</b> {{mmse}}</td>
        </tr>
    </table>
    <table border="1" style="border-collapse: collapse; width: 100%;">
        <tr>
            <td><b>Vitals:</b></td>
            <td>Blood Pressure (BP): {{blood_pressure}}</td>
            <td>Heart Rate (BPM): {{heart_rate}}</td>
            <td>Oxygen (SPO2): {{oxygen}}</td>
            <td>Respiratory Rate (RR): {{respiratory_rate}}</td>
            <td>Pain Assessment: {{pain_assessment}}</td>
        </tr>
    </table>
    <table border="1" style="border-collapse: collapse; width: 45%; float: left;">
        <tr>
            <th>Self-Care Area</th>
            <th>Initial FIM</th>
            <th>Goal</th>
        </tr>
        <tr>
            <td>Eating</td>
            <td>{{eat_init}}</td>
            <td>{{eat_goal}}</td>
            
        </tr>
        <tr>
            <td>Grooming</td>
            <td>{{groom_init}}</td>
            <td>{{groom_goal}}</td>
        </tr>
        <tr>
            <td>Bathing</td>
            <td>{{bath_init}}</td>
            <td>{{bath_goal}}</td>
            
        </tr>
        <tr>
            <td>Upper Body Dressing</td>
            <td>{{upper_init}}</td>
            <td>{{upper_goal}}</td>
            
        </tr>
        <tr>
            <td>Lower Body Dressing</td>
            <td>{{lower_init}}</td>
            <td>{{lower_goal}}</td>
            
        </tr>
        <tr>
            <td>Toileting</td>
            <td>{{toilet_init}}</td>
            <td>{{toilet_goal}}</td>
            
        </tr>
        <tr>
            <td>Toilet Transfer</td>
            <td>{{toilet_transfer_init}}</td>
            <td>{{toilet_transfer_goal}}</td>
        </tr>
        <tr>
            <td>Shower Transfer</td>
            <td>{{shower_transfer_init}}</td>
            <td>{{shower_transfer_goal}}</td>
            
        </tr>
        <tr>
            <td>Tub Transfer</td>
            <td>{{tub_transfer_init}}</td>
            <td>{{tub_transfer_goal}}</td>
        </tr>
    </table>
    <table border="1" style="border-collapse: collapse; width: 55%; float: left;">
        <tr>
            <td><b>Additional ADL / IADL Observations:</b> {{ADL}}</td>
            <td><b>Current Transfer / Mobility Status:</b> {{current_transfer}}</td>
        </tr>
    </table>
    <table border="1" style="border-collapse: collapse; width: 100%;">
        <tr>
            <td><b>Hand Dominance:</b> {{hand_dom}}</td>
        </tr>
    </table>
    <table border="1" style="border-collapse: collapse; width: 55%; float: left;">
        <tr>
            <td style="width: 18.3%"><b>Left UE</b></td>
            <td style="width: 18.3%"></td>
            <td style="width: 18.3%"><b>Right UE</b></td>
        </tr>
    </table>
    <table border="1" style="border-collapse: collapse ;width: 45%; float: right;">
        <tr>
            <td>Other Observations: {{observations}}</td>
        </tr>
    </table>
    <table border="1" style="border-collapse: collapse; width: 55%; float: left;">
        <tr>
            <td style="width: 9.17%"><b>ROM</b></td>
            <td style="width: 9.17%"><b>MMT</b></td>
            <td style="width: 18.3%"></td>
            <td style="width: 9.17%"><b>ROM</b></td>
            <td style="width: 9.17%"><b>MMT</b></td>
        </tr>
        <tr>
            <td style="width: 9.17%">{{lue_shoulder_ev_rom}}</td>
            <td style="width: 9.17%">{{lue_shoulder_ev_mmt}}</td>
            <td style="width: 18.3%">Shoulder Elevation</td>
            <td style="width: 9.17%">{{rue_shoulder_ev_rom}}</td>
            <td style="width: 9.17%">{{rue_shoulder_ev_mmt}}</td>
        </tr>
        <tr>
            <td style="width: 9.17%">{{lue_shoulder_flex_rom}}</td>
            <td style="width: 9.17%">{{lue_shoulder_flex_mmt}}</td>
            <td style="width: 18.3%">Shoulder Flexion</td>
            <td style="width: 9.17%">{{rue_shoulder_flex_rom}}</td>
            <td style="width: 9.17%">{{rue_shoulder_flex_mmt}}</td>
        </tr>
        <tr>
            <td style="width: 9.17%">{{lue_shoulder_ext_rom}}</td>
            <td style="width: 9.17%">{{lue_shoulder_ext_mmt}}</td>
            <td style="width: 18.3%">Shoulder Extension</td>
            <td style="width: 9.17%">{{rue_shoulder_ext_rom}}</td>
            <td style="width: 9.17%">{{rue_shoulder_ext_mmt}}</td>
        </tr>
        <tr>
            <td style="width: 9.17%">{{lue_shoulder_abd_rom}}</td>
            <td style="width: 9.17%">{{lue_shoulder_abd_mmt}}</td>
            <td style="width: 18.3%">Shoulder Abduction</td>
            <td style="width: 9.17%">{{rue_shoulder_abd_rom}}</td>
            <td style="width: 9.17%">{{rue_shoulder_abd_mmt}}</td>
        </tr>
        <tr>
            <td style="width: 9.17%">{{lue_hor_abd_rom}}</td>
            <td style="width: 9.17%">{{lue_hor_abd_mmt}}</td>
            <td style="width: 18.3%">Horizontal Abduction</td>
            <td style="width: 9.17%">{{rue_hor_abd_rom}}</td>
            <td style="width: 9.17%">{{rue_hor_abd_mmt}}</td>
        </tr>
        <tr>
            <td style="width: 9.17%">{{lue_hor_add_rom}}</td>
            <td style="width: 9.17%">{{lue_hor_add_mmt}}</td>
            <td style="width: 18.3%">Horizontal Adduction</td>
            <td style="width: 9.17%">{{rue_hor_add_rom}}</td>
            <td style="width: 9.17%">{{rue_hor_add_mmt}}</td>
        </tr>
        <tr>
            <td style="width: 9.17%">{{lue_intern_rot_rom}}</td>
            <td style="width: 9.17%">{{lue_intern_rot_mmt}}</td>
            <td style="width: 18.3%">Internal Rotation</td>
            <td style="width: 9.17%">{{rue_intern_rot_rom}}</td>
            <td style="width: 9.17%">{{rue_intern_rot_mmt}}</td>
        </tr>
        <tr>
            <td style="width: 9.17%">{{lue_extern_rot_rom}}</td>
            <td style="width: 9.17%">{{lue_extern_rot_mmt}}</td>
            <td style="width: 18.3%">External Rotation</td>
            <td style="width: 9.17%">{{rue_extern_rot_rom}}</td>
            <td style="width: 9.17%">{{rue_extern_rot_mmt}}</td>
        </tr>
        <tr>
            <td style="width: 9.17%">{{lue_elbow_flex_rom}}</td>
            <td style="width: 9.17%">{{lue_elbow_flex_mmt}}</td>
            <td style="width: 18.3%">Elbow Flexion</td>
            <td style="width: 9.17%">{{rue_elbow_flex_rom}}</td>
            <td style="width: 9.17%">{{rue_elbow_flex_mmt}}</td>
        </tr>
        <tr>
            <td style="width: 9.17%">{{lue_elbow_ext_rom}}</td>
            <td style="width: 9.17%">{{lue_elbow_ext_mmt}}</td>
            <td style="width: 18.3%">Elbow Extension</td>
            <td style="width: 9.17%">{{rue_elbow_ext_rom}}</td>
            <td style="width: 9.17%">{{rue_elbow_ext_mmt}}</td>
        </tr>
        <tr>
            <td style="width: 9.17%">{{lue_fore_pro_rom}}</td>
            <td style="width: 9.17%">{{lue_fore_pro_mmt}}</td>
            <td style="width: 18.3%">Forearm Pronation</td>
            <td style="width: 9.17%">{{rue_fore_pro_rom}}</td>
            <td style="width: 9.17%">{{rue_fore_pro_mmt}}</td>
        </tr>
        <tr>
            <td style="width: 9.17%">{{lue_fore_sup_rom}}</td>
            <td style="width: 9.17%">{{lue_fore_sup_mmt}}</td>
            <td style="width: 18.3%">Forearm Supination</td>
            <td style="width: 9.17%">{{rue_fore_sup_rom}}</td>
            <td style="width: 9.17%">{{rue_fore_sup_mmt}}</td>
        </tr>
        <tr>
            <td style="width: 9.17%">{{lue_wrist_flex_rom}}</td>
            <td style="width: 9.17%">{{lue_wrist_flex_mmt}}</td>
            <td style="width: 18.3%">Wrist Flexion</td>
            <td style="width: 9.17%">{{rue_wrist_flex_rom}}</td>
            <td style="width: 9.17%">{{rue_wrist_flex_mmt}}</td>
        </tr>
        <tr>
            <td style="width: 9.17%">{{lue_wrist_ext_rom}}</td>
            <td style="width: 9.17%">{{lue_wrist_ext_mmt}}</td>
            <td style="width: 18.3%">Wrist Extension</td>
            <td style="width: 9.17%">{{rue_wrist_ext_rom}}</td>
            <td style="width: 9.17%">{{rue_wrist_ext_mmt}}</td>
        </tr>
    </table>

    
    <table border="1" style="border-collapse: collapse; width: 55%; float: left;">
        <tr>
            <td style="width: 18.3%"><b>Left UE</b></td>
            <td style="width: 18.3%"></td>
            <td style="width: 18.3%"><b>Right UE</b></td>
        </tr>
    </table>

    <table border="1" style="border-collapse: collapse; width: 45%; float: right;">
        <tr>
            <td><b>Initial Assessment of Problems/Strengths: </b>{{init_assess}}</td>
        </tr>
    </table>

    <table border="1" style="border-collapse: collapse; width: 55%; float: left;">
        <tr>
            <td style="width: 18.3%">{{lue_grip_str}}</td>
            <td style="width: 18.3%">Grip Strength</td>
            <td style="width: 18.3%">{{rue_grip_str}}</td>
        </tr>

        <tr>
            <td style="width: 18.3%">{{lue_lat_pinch}}</td>
            <td style="width: 18.3%">Lateral Pinch</td>
            <td style="width: 18.3%">{{rue_lat_pinch}}</td>
        </tr>

        <tr>
            <td style="width: 18.3%">{{lue_tri_pinch}}</td>
            <td style="width: 18.3%">Tripod Pinch</td>
            <td style="width: 18.3%">{{rue_tri_pinch}}</td>
        </tr>

        <tr>
            <td style="width: 18.3%">{{lue_tip_pinch}}</td>
            <td style="width: 18.3%">Tip Pinch</td>
            <td style="width: 18.3%">{{rue_tip_pinch}}</td>
        </tr>

        <tr>
            <td style="width: 18.3%">{{lue_light_touch}}</td>
            <td style="width: 18.3%">Light Touch</td>
            <td style="width: 18.3%">{{rue_light_touch}}</td>
        </tr>

        <tr>
            <td style="width: 18.3%">{{lue_sh_du}}</td>
            <td style="width: 18.3%">Sharp / Dull</td>
            <td style="width: 18.3%">{{rue_sh_du}}</td>
        </tr>

        <tr>
            <td style="width: 18.3%">{{lue_temp}}</td>
            <td style="width: 18.3%">Temperature</td>
            <td style="width: 18.3%">{{rue_temp}}</td>
        </tr>

        <tr>
            <td style="width: 18.3%">{{lue_prop}}</td>
            <td style="width: 18.3%">Proprioception</td>
            <td style="width: 18.3%">{{rue_prop}}</td>
        </tr>

        <tr>
            <td style="width: 18.3%">{{lue_ster}}</td>
            <td style="width: 18.3%">Stereognosis</td>
            <td style="width: 18.3%">{{rue_ster}}</td>
        </tr>

        <tr>
            <td style="width: 18.3%">{{lue_peg}}</td>
            <td style="width: 18.3%">9-Hole Peg Test</td>
            <td style="width: 18.3%">{{rue_peg}}</td>
        </tr>

        <tr>
            <td style="width: 18.3%">{{lue_edema}}</td>
            <td style="width: 18.3%">Edema</td>
            <td style="width: 18.3%">{{rue_edema}}</td>
        </tr>

        <tr>
            <td style="width: 18.3%">{{lue_pain}}</td>
            <td style="width: 18.3%">Pain</td>
            <td style="width: 18.3%">{{rue_pain}}</td>
        </tr>
    </table>
    <table border="1" style="border-collapse: collapse; width: 100%;">
        <tr>
            <td><b>Justification of Services:</b> {{justification}}</td>
        </tr>
        <tr>
            <td><b>Discharge Recommendation:</b> {{dis_rec}}</td>
        </tr>
        <tr>
            <td><b>Equipment Needs:</b> {{equip_needs}}</td>
        </tr>
        <tr>
            <td><b>Patient / Family / Caregiver Goals:</b> {{patient_goals}}</td>
        </tr>
    </table>

    <table border="1" style="border-collapse: collapse; width: 100%;">
        <tr>
            <td style="width: 50%"><b>Estimated Length of Stay:</b> {{est_len}}</td>
            <td><b>Overall Long Term Goal:</b> {{overall_goals}}</td>
        </tr>
        <tr>
            <td><b>Short Term Goals / Estimated Timeframe:</b> {{short_term_goals}}</td>
            <td><b>Therapist Signature / Date: </b>{{signature}} / {{date_of_sig}}</td>
        </tr>
        <tr>
            <td><b>Billing Code:</b> {{billing}}</td>
            <td><b>Units:</b> {{units}} units</td>
        </tr>
    </table>
</body>
</html>